<% layout('./layout/boilerplate.ejs') -%>
<link rel="stylesheet" href="/stylesheets/show.css">
<body>
    <div class="main">
        <div class="box">
            <h2><%=listing.title%></h2>
            <div class="imagebox">
                <img src="<%=listing.image%>" alt="Pic Not load">
            </div>
            <div class="details">
                <span><%=listing.User.name%></span>
                <span><%=listing.state%></span>
                <span><%=listing.country%></span>
                <button class="viewbutton" onclick="openMap('<%= listing.location %>')">View on Map</button>
            </div>
        </div>
    </div>
</body>
<script>
function openMap(location) {
    const url = `https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(location)}`;
    window.open(url, "_blank");
}
</script>